body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: rgb(20, 138, 152);
  height: calc(100vh - 40px);
  color: white;
}

a {
  color: white;
}

ol, ul {
  padding-left: 30px;
}

li {
  margin-bottom: 10px;
}